.card-container {
    width: 11.875rem;
    height: 15rem;

    border: 1px solid transparent;
    border-radius: 7px;
    box-shadow: 1px 1px 1px #ddd;
    overflow: hidden;
    cursor: pointer;
    h1 {
        font-weight: bold;
        font-size: 1.05rem;
        text-transform: uppercase;
    }
    img {
        width: 100%;
        height: 70%;
    }
}

.card-info {
    padding: 5px;
    text-align: center;
    i {
        font-size: .75rem;
        color: var(--gray-400);
    }
}

@media (max-width: 800px) {
    .card-container{
        width: 7.5rem;
        height: 11.25rem;
        padding: 0  0 5px 0;
    }
    .card-container h1 {
        font-size: .75rem;
    }
    img{
        height: auto;
        object-fit: cover;
    }
}