<mat-sidenav-container class="header-container">
    <ul>
        <li>
            <mat-icon 
                aria-hidden="false" 
                aria-label="Início" 
                fontIcon="home"
            ></mat-icon>
            <!-- <a>Início</a> -->
        </li>
        <li>
            <a routerLink="/recipe/create">
                <mat-icon
                    aria-hidden="false" 
                    aria-label="Entrar" 
                    fontIcon="note_add"
                ></mat-icon>
            </a>

        </li>
        <li>
            <mat-icon 
                aria-hidden="false" 
                aria-label="Entrar" 
                fontIcon="person"
            ></mat-icon>
        </li>
        <li>
            <mat-icon 
                aria-hidden="false" 
                aria-label="Cadastrar" 
                fontIcon="person_add"
            ></mat-icon>
        </li>
        <li>
            <mat-icon 
                aria-hidden="false" 
                aria-label="Sair" 
                fontIcon="logout"
            ></mat-icon>
        </li>
    </ul>
</mat-sidenav-container>