.header-user {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search-input {
  width: 100%;
  background: transparent;
  border: 1px solid var(--yellow-400);
  outline: none;
  color: var(--yellow-400);
  padding: 10px;
  border-radius: 0.4375rem;
}

.welcome-title {
  font-size: 1.0625rem;
}

.name-user {
  color: var(--yellow-400);
  font-weight: bold;
}

@media (max-width: 800px) {
  .header-user{
    flex-wrap: wrap;
  }
  .input-container {
    margin-block: 10px;
    order: 3;
    flex: 0 0 100%;
  }
}