@if(recipe$ | async; as recipe){
    <section class="container-recipe">
        <img 
            [src]="recipe.image ? recipe.image : 'assets/image/default_recipe_image.png'" 
            alt="Imagem da receita"
        />
        <div class="wrapper-recipe">
            <div class="recipe-info">
                <h1 class="recipe-title">{{ recipe.name }}</h1>
                <i class="recipe-category">{{ recipe.category }}</i>
                <p class="recipe-description">{{ recipe.description }}</p>
            </div>
            <h2 class="subtitle">Ingredientes</h2>
            <div>
                @for(ingredient of recipe.ingredients;let i = $index ; track ingredient){
                    <p>{{ i+1 }} - {{ ingredient }}</p>
                }
            </div>

            <h2 class="subtitle">Modo de preparo</h2>
            <div>
                @for(prepare of recipe.prepare; let i = $index; track prepare){
                    <p>{{ i+1 }} - {{ prepare}}</p>
                }
            </div>

            <!-- <iframe 
                [src]="safeUrl"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            ></iframe> -->
        </div>

    </section>
}
