.create-recipe-title {
    font-size: 1.25rem;
    color: var(--yellow-400);
    text-align: center;
    margin: 10px;
}

.form-control{
    width: 100%;
    padding: 10px;
    border: 1px solid var(--yellow-400);
    color: var(--yellow-400);
    background: var(--gray-900);
    border-radius: 7px;
    margin-block: 10px;
}

label {
    color: var(--yellow-400);
    font-weight: bold;
}

.form-submit {
    width: 100%;
    background: var(--yellow-400);
    color: var(--gray-950);
    font-weight: bold;
    border: 1px solid var(--yellow-400);
    border-radius: 7px;
    padding: 10px;
    margin-block: 10px;
}