.container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 2rem;
    background: var(--gray-50);
    box-shadow: 2px 2px 4px #ddd;
    border-radius: .5rem;
}

.horizontal-cols{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.create-recipe-title{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 16px 10px 20px 10px;
}

.custom-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    margin-block: 1rem;
    gap: 1rem;
}

.custom-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--gray-400);
    border-radius: 7px;
    height: 2.8125rem;
    width: 3.125rem;
    margin: 0 auto;
    cursor: pointer;
    &:hover{
        box-shadow: 2px 2px 5px var(--gray-700);
        background-color: var(--gray-100);
    }
}

.array-header-container{
    display: flex;
    justify-content: space-between;
    gap:.75rem
}

.preview-image{
    width: 7.5rem;
    height: 5.625rem;
    border-radius: .5rem;
}

.array-ingredient{
    font-size: .8125rem;
    text-align: end;
    color: var(--gray-700);
}

.button-add {
    display: flex;
    justify-content: center;
    align-items: center;

    background: transparent;
    color: var(--eucalyptus-400);

    border: 3px solid var(--eucalyptus-400);
    border-radius: 8px;

    font-size: .9375rem;
    font-weight: 900;

    cursor: pointer;
    padding: 2px 5px;


    &:hover {
        background: var(--st-tropaz-100);
    }
}

.form-array-container{
    margin-block: .8125rem;
}

@media (max-width: 800px){

    .container{
        max-width: none;
        width: 100%;
        margin: 0;
        border: none;
        box-shadow: none;
        background: transparent;
    }
}