// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: (
        theme-type: dark,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --gray-50: #f8f7f7;
  --gray-100: #f0eeee;
  --gray-200: #dddada;
  --gray-300: #bfbaba;
  --gray-400: #9c9494;
  --gray-500: #807778;
  --gray-600: #686162;
  --gray-700: #554f4f;
  --gray-800: #484445;
  --gray-900: #3f3b3b;
  --gray-950: #343131;
  --rust-50: #fbf6ea;
  --rust-100: #f8edeb;
  --rust-200: #f1ddda;
  --rust-300: #e5c1bc;
  --rust-400: #d69d96;
  --rust-500: #c4756f;
  --rust-600: #ad5351;
  --rust-700: #a04747;
  --rust-800: #79383a;
  --rust-900: #693236;
  --rust-950: #391819;
  --porsche-50: #fcf8f0;
  --porsche-100: #f7efdd;
  --porsche-200: #efdcb9;
  --porsche-300: #e4c28d;
  --porsche-400: #d8a25e;
  --porsche-500: #d08a3f;
  --porsche-600: #c27434;
  --porsche-700: #a15b2d;
  --porsche-800: #81492b;
  --porsche-900: #693d25;
  --porsche-950: #381e12;
  --yellow-50: #fdfbed;
  --yellow-100: #f9f3cc;
  --yellow-200: #eedf7a;
  --yellow-300: #ebd45e;
  --yellow-400: #e6c239;
  --yellow-500: #dea522;
  --yellow-600: #c4821b;
  --yellow-700: #a35f1a;
  --yellow-800: #854a1b;
  --yellow-900: #6e3e19;
  --yellow-950: #3e200a;
  --sazerac-50: #fef8ee;
  --sazerac-100: #fef3e2; 
  --sazerac-200: #fbdaad;
  --sazerac-300: #f8bf79;
  --sazerac-400: #f59942;
  --sazerac-500: #f17c1e;
  --sazerac-600: #e36113;
  --sazerac-700: #bc4a12;
  --sazerac-800: #953a17;
  --sazerac-900: #783216;
  --sazerac-950: #411709;
  --saffron-50: #fdfbe9;
  --saffron-100: #fcf6c5;
  --saffron-200: #faeb8e;
  --saffron-300: #f7d94d;
  --saffron-400: #f3c623;
  --saffron-500: #e3ac0f;
  --saffron-600: #c4850a;
  --saffron-700: #9c5f0c;
  --saffron-800: #814b12;
  --saffron-900: #6e3e15;
  --saffron-950: #401f08;



}
html,
body {
  height: 100%;
}
body {
  background-color: var(--sazerac-50);
  color: var(--gray-950);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1em;
}

.form-container {
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--yellow-400);
  color: var(--yellow-400);
  background: var(--gray-900);
  border-radius: 7px;
  margin-block: 10px;
  outline: none;
}

.form-title {
  font-size: 1.25rem;
  color: var(--yellow-400);
  text-align: center;
  margin-block: 2rem;
}

label {
  color: var(--yellow-400);
  font-weight: bold;
  text-align: left;
}

.form-submit {
  width: 100%;
  background: var(--yellow-400);
  color: var(--gray-950);
  font-weight: bold;
  border: 1px solid var(--yellow-400);
  border-radius: 7px;
  padding: 17px 10px;
  margin-block: 10px;
  font-size: 1.1875rem;
  &:disabled {
    border: 1px solid (--yellow-700) !important;
    background: var(--yellow-700);
    cursor: not-allowed;
    color: white;
  }
}

@media (max-width: 800px) {
  .form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: 1rem;
  }
}

@keyframes neonPulse {
  0% {
    box-shadow: 0 0 5px var(--yellow-400), 0 0 10px var(--yellow-400),
      0 0 20px var(--yellow-400), 0 0 40px var(--yellow-400);
  }
  100% {
    box-shadow: 0 0 10px var(--yellow-400), 0 0 20px var(--yellow-400),
      0 0 30px var(--yellow-400), 0 0 60px var(--yellow-400);
  }
}
